
.start{
    display: grid;
    grid-area: 2 row 1 column;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;  
    background-color: #45a29e;
    padding: 20px 30px 20px 30px;
    align-content: center;
    margin-bottom: 2em;
    color: whitesmoke;
    

}
.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sidebar{
    background-color: #edf5e1;
    display: flex;
    flex-direction: column;
    float: left;
    width: 25%;
    margin-right: 2em;
    
   
}

.main{
    background-color: white;
    display: flex;
    flex-direction: column;
    float: right;
    width: 65%;

    
}
#pic{
    max-width: 8%;
}
#mypic{
    border-radius: 100%;
    height: 150px;
    width: 150px;
   margin: 0 auto;
   margin-top: 5%;
   image-rendering: auto;

}
#border-radius{
    display: flex;
    align-items: center;
    align-content: center;
}
.border{
    border: solid 3px rgb(236, 235, 235);
    text-align: center;
    padding: 20px 30px 20px 30px;
}
.line{
    color: black;
    background-color: black;
    border: none;
    border-bottom: 1px solid black;
    height: .05em;
    width: 20.80em;
    
}
.line2{
    color: black;
    background-color: rgb(187, 184, 184);
    border: none;
    border-bottom: 1px solid black;
    height: 0.05em;
    width: 54.25em;

}
.work{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.yearleft{
    display: flsex;
    float: left;
    flex-direction: column;
    width: 50%;
}
.descriptionright{
    display: flex;
    float: right;
    flex-direction: column;
    width: 50%;

}
.education{
    flex-direction:row;
    justify-content: center;
}
p{
    font-family: Arial, Helvetica,"Times New Roman", sans-serif;
}